.panel
  position: relative
  margin: 30px 0px
  width: 80%
  max-width: 750px
  background: $panel-background
  border: 1px solid $panel-border
  border-radius: 4px
  .title
    box-sizing: border-box
    font-size: 23px
    text-align: center 
    padding: 15px
    height: 60px
    border-bottom: 1px solid $panel-border
    background: $panel-title
    border-top-left-radius: 4px
    border-top-right-radius: 4px
  .content
    display: flex
    align-items: center
    flex-direction: column
    padding: 15px 0px
        
    .inputSet
      display: flex
      flex-direction: column
      align-items: flex-end
      
    .inputPair
      margin: $def-margin / 2
      label
        display: inline-block
        margin-right: 8px
        text-align: left
    
    transition: height 1s linear
    &.collapsed
      height: 0
      display: none
