html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: black;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFE0AA;
}

header {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 900px;
  height: 200px;
  background: #FFCC7A;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #FF8800;
  border-top: none;
  margin-bottom: 50px;
}

header .logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  font-size: 60px;
}

header .logo .subtitle {
  font-size: 17px;
  float: right;
  text-align: right;
}

header .logo .subtitle a {
  font-size: 120%;
  text-decoration: none;
  color: gray;
}

header .logo .subtitle a:hover {
  color: #3333ff;
}

.panel {
  position: relative;
  margin: 30px 0px;
  width: 80%;
  max-width: 750px;
  background: #FFCC7A;
  border: 1px solid #FF8800;
  border-radius: 4px;
}

.panel .title {
  box-sizing: border-box;
  font-size: 23px;
  text-align: center;
  padding: 15px;
  height: 60px;
  border-bottom: 1px solid #FF8800;
  background: #FFA53D;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel .content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0px;
  transition: height 1s linear;
}

.panel .content .inputSet {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.panel .content .inputPair {
  margin: 15px;
}

.panel .content .inputPair label {
  display: inline-block;
  margin-right: 8px;
  text-align: left;
}

.panel .content.collapsed {
  height: 0;
  display: none;
}

p {
  margin: 15px 0px;
}

input[type=text] {
  outline: none;
  border: 1px solid #FF8800;
  background: #FFD48E;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
  height: 30px;
  padding: 0px 10px;
  border-radius: 2px;
  transition: border 0.25s linear, background 0.1s linear;
}

input[type=text]:focus {
  border: 1px solid #FF8900;
  background: #FFDCA5;
}

::-webkit-input-placeholder {
  color: #FF8800;
}

.button {
  display: inline-block;
  outline: none;
  border: 1px solid #FF8800;
  background: #FFD48E;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 30px;
  margin: 15px 0;
  padding: 0px 15px;
  padding-top: 3px;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-user-select: none;
}

.button:hover {
  border: 1px solid #FF8900;
  background: #FFDCA5;
  cursor: pointer;
}

.button:hover:active {
  background: #FFA53D;
}
