
// Variables
$body-background: #FFE0AA
$panel-border: #FF8800
$panel-background: #FFCC7A
$panel-title: #FFA53D
$def-margin: 5px

html,
body
  margin: 0px
  padding: 0px
  
  font-family: 'Roboto', sans-serif
  font-size: 17px
  color: black
  
body
  display: flex
  flex-direction: column
  width: 100%
  align-items: center
  background: $body-background
 

@import siders


@import control-panel

@import control-largepanel 


p
  margin: $def-margin 50px

// Input Control Styling


@import control-input
@import control-button




      
#boxDelAdd
  display: flex
  justify-content: flex-end
  width: 100%
      
span.spacer
  height: 15px

@import control-list
