<!DOCTYPE html>
<html ng-app="gridViewApp">
  <head>
    <!-- Roboto Font Link -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/public/stylesheets/gridview.css">
  </head>
  <body ng-controller="gridViewController">
    
    <header>
      <h1>{{match.name}}</h1>
      <h2 ng-show="viewType == 'team'">{{team.name}}</h2>
    </header>
    
    <div class="gridpanel">
      <table>
        <tr>
          <th>
            Domanda/Squadra
          </th>
          <th ng-repeat="answer in grid.answers track by $index">
            <div class="question">
              {{$index + 1}}
              <span class="score">{{answer.score}}</span>
            </div>
          </th>
        </tr>
        <tr ng-repeat="team in grid.teams">
          <th>{{team.name}}</th>
          <td ng-repeat="answer in team.answers track by $index">{{answer}}</td>
        </tr>
      </table>
    </div>
    
    <script src="/public/scripts/util.js"></script>
    <script src="/public/scripts/gridsupplier.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/public/scripts/gridview.js" charset="utf-8"></script>
  </body>
</html>
