<html ng-app="homeApp">
  <head>
    <!-- Roboto Font Link -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/public/stylesheets/core.css">
  </head>
  <body ng-controller="homeController">
    <header>
      <div class="logo">
        Delucreziotto
        <div class="subtitle">
          <a href="#">Vai a progetto e<sup>i&pi;</sup></a>
        </div>
      </div>
    </header>
    
    <div class="panel">
      <div class="title">
        Assisti
      </div>
      <div class="content">
        <p>Inserisci la chiave della partita alla quale vuoi assistere.</p>
        
        <div>
          <label for="txt1m">Chiave</label>
          <input id="txt1m" type="text" ng-model="home.matchKey" spellcheck="false">
        </div>
        
        <div class="button">
          Assisti
        </div>
        
      </div>
    </div>
    
    <div class="panel">
      <div class="title">
        Partecipa
      </div>
      <div class="content">
        <p>Inserisci la chiave della partita alla quale vuoi partecipare.</p>
        
        <div class="inputSet">
          <div class="inputPair">
            <label for="txt2m">Chiave</label>
            <input id="txt2m" type="text" ng-model="home.matchKey" spellcheck="false">
          </div>
          
          <div class="inputPair">
            <label for="txt3m">Nome Squadra</label>
            <input id="txt3m" type="text" ng-model="home.teamName" spellcheck="false">
          </div>
        </div>
        
        <div class="button">
          Partecipa
        </div>
        
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/public/scripts/home.js"></script>
  </body>
</html>
